@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2B2B2B;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 50px;
}

.navbar .left h3{
    font-size: 18px;
    font-weight: 400;
}

.navbar .left h3 i{
    color: #A259FF;
}


.navbar .right a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 0 20px;
}

.navbar .right a.auth {
    background-color: #A259FF;
    padding: 10px 30px;
    border-radius: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    width: 100%;
    height: calc(100vh - 55px);
}

.text-section {
    padding:  0 30px 0 40px;
}

.text-section h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
    padding: 5px;
}

.text-section p {
    padding: 10px;
    font-weight: 400;
    line-height: 22px;
    color: #888888;
}

.text-section button{
    width: 250px;
    height: 60px;
    background-color: #3b3b3b;
    border: 1px solid #A259FF;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin: 10px;
}

.text-section button img{
    width: 32px;
    height: 32px;;
    margin: 10px;
}

.footer{
    width: 100%;
    padding: 40px 80px;
}

.footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap: 20px;
}

.footer .container .footer-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 0;
}

.footer .container .footer-content h3 i{
    color: #A259FF;
}

.footer .container .footer-content p {
    color: #888888;
    padding: 8px 0;
}

.footer .container .footer-content a{
    text-decoration: none;
}

.footer .container .footer-content a i{
    color: #A259FF;
    font-size: 1.5rem;
}

.footer .container .footer-content li {
    color: #888888;
    list-style-type: none;
    padding: 8px 0;
}

.footer .container .footer-content .c2a {
    padding: 10px 0;
    display: flex;
}

.footer .container .footer-content .c2a input {
    background-color: #ffffff;
    border: none;
    padding: .5rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem 0 0 1rem;
    color: #888888;
    cursor: pointer;
}

.footer .container .footer-content .c2a button {
    padding: 0 25px;
    background-color: #A259FF;
    padding: 12px;
    border: 0;
    border-radius: 0 1rem 1rem 0;
}

input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}


#bars{
    display: none;
}

@media (max-width: 991px) {
    .footer {
        padding: 40px;
    }
    .footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    
    #bars{
        display: block;
    }

    .menu {
        display: none;
    }

    .col-2 {
        flex-basis: 100%;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


